<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>

<form action="" method="post">
    L1:x<input type="text" name="p1[]" />
    y<input type="text" name="p1[]" /><br>
    L2:x<input type="text" name="p2[]" />
    y<input type="text" name="p2[]" /><br>
    L3:x<input type="text" name="p3[]" />
    y<input type="text" name="p3[]" /><br>
    L4:x<input type="text" name="p4[]" />
    y<input type="text" name="p4[]" /><br>
    <button>提交</button>
</form>


</body>
</html>