<!-- <div class="page-header">
    <h1 class="title">导航列表</h1>
    <ol class="breadcrumb">
        <if condition="$diyilan['name'] neq ''"><li><a href="{$diyilan.value}">{$diyilan.name}</a></li></if>
        <if condition="$dierlan['name'] neq ''"><li><a href="{$dierlan.value}">{$dierlan.name}</a></li></if>
        <if condition="$disanlan['name'] neq ''"><li><a href="{$disanlan.value}">{$disanlan.name}</a></li></if>
        <if condition="$disilan['name'] neq ''"><li><a href="{$disilan.value}">{$disilan.name}</a></li></if>
    </ol>

    Start Page Header Right Div
    <div class="right">
        <div class="btn-group" role="group" aria-label="...">
            <a href="index.html" class="btn btn-light">管理控制台</a>
            <a href="javascript:location.reload()" class="btn btn-light"><i class="fa fa-refresh"></i></a>
            <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
        </div>
    </div>
    End Page Header Right Div
</div> -->