<!-- Start Footer -->
<div class="bomb-tc" style="display: none;">
    <div>
        <h4 class="ac">退出登录</h4>
        <p class="ac">确认退出登录</p>
        <div class="ac">
            <button type="button" class="btn btn-default" style="margin-right: 5px;">确认</button>
            <button type="button" class="btn" onclick="javascript:document.querySelector('.bomb-tc').style.display='none';">取消</button>
        </div>
    </div>
</div>

<div class="row footer">
    <div class="col-md-6 text-left">
        Copyright © <?php echo date("Y",time()); ?> <a href="http://www.ufent.com/" target="_blank">优粉网络</a> All rights reserved.
    </div>
    <div class="col-md-6 text-right">
        Design and Developed by <a href="http://www.ufent.com/" target="_blank">优粉网络</a>
    </div> 
</div>
<!-- End Footer -->