<div class="page-wrapper">

    <!-- sidebar-wrapper  -->
    <nav id="sidebar" class="sidebar-wrapper">
        <!-- sidebar-content  -->
        <div class="sidebar-content">
            <a href="#" id="toggle-sidebar" style="margin-top: 15px;">
                <i class="fa fa-bars"></i>
            </a>
            <div class="sidebar-brand">
                <a href="#" style="font-size: 30px;">夏沫烟雨</a>
            </div>
    
            <!-- sidebar-header  -->
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="/Public/Admin/img/user.jpg" alt="">
                </div>
                <div class="user-info">
                    <span class="user-name">Jhon <strong>Smith</strong></span>
                    <span class="user-role">Administrator</span>
                    <div class="user-status">                       
                        <a href="#"><span class="label label-success">Online</span></a>                           
                    </div>
                </div>
            </div>

            <include file="Base/left_menu" />
        </div>        
    </nav>
</div>

